.check-box-wrapper {
  border: 2px solid #aae5f0;
  margin-right: 15px;
}
.check-box-wrapper .checkbox, .check-box-wrapper [class*=" checkbox"] {
  width: 24px;
  display: inline-block;
}
.check-box-wrapper .checkbox > input, .check-box-wrapper [class*=" checkbox"] > input {
  display: none;
}
.check-box-wrapper .checkbox > input:checked + label::before,
.check-box-wrapper [class*=" checkbox"] > input:checked + label::before {
  transform: rotate(-38deg) translatex(-4px) translatey(11px);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.check-box-wrapper .checkbox > input:checked + label::after,
.check-box-wrapper [class*=" checkbox"] > input:checked + label::after {
  transform: rotate(38deg) translatex(-3px) translatey(7px);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.check-box-wrapper .checkbox > label,
.check-box-wrapper [class*=" checkbox"] > label {
  position: relative;
  display: block;
  width: 24px;
  height: 24px;
  border: 2px solid white;
  overflow: hidden;
  transition: transform .5s ease-in-out, background .125s ease-in-out;
  text-align: left;
  user-select: none;
}
.check-box-wrapper .checkbox > label:hover,
.check-box-wrapper [class*=" checkbox"] > label:hover {
  background: rgba(255, 255, 255, 0.25);
  cursor: pointer;
}
.check-box-wrapper .checkbox > label::before,
.check-box-wrapper .checkbox > label::after,
.check-box-wrapper [class*=" checkbox"] > label::before,
.check-box-wrapper [class*=" checkbox"] > label::after {
  content: '';
  position: absolute;
  border-left: 3px solid #aae5f0;
  transition: all .25s ease-in-out;
  transform-origin: center center;
  width: 0;
  border-radius: 3px;
}
.check-box-wrapper .checkbox > label::before,
.check-box-wrapper [class*=" checkbox"] > label::before {
  transform: rotate(-30deg) translatex(0) translatey(-10px);
  height: 8px;
}
.check-box-wrapper .checkbox > label::after,
.check-box-wrapper [class*=" checkbox"] > label::after {
  transform: rotate(30deg) translatex(0) translatey(-20px);
  height: 16px;
  right: 0;
}
