.DataScience-content {
  max-width: 1200px;
  margin: 0 auto;
}

.DataScience-header {
  padding: 6px;
  box-shadow: 0px 0px 2px #ea5a3d;
}

.RecipeTable--wrapper {
  border-radius: 3px;
  font-size: 12px;
  margin: 0 auto;
  font-size: 13px;
  font-family: 'Helvetica', sans-serif;
}

.sub-nav {
  position: relative;
  margin: 0 auto;
  padding: 16px;
}

.sub-nav .search {
  display: block;
  font-size: 14px;
  margin: 0 auto;
  outline: none;
  outline-offset: none;
  padding: 6px;
  border-radius: 3px;
  border: 2px solid #ecf2f3;
  box-shadow: none;
}

.RecipeItem {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-height: 60px;
  position: relative;
  margin: 6px;
}

.RecipeItem.is-selected {
  background: rgba(89, 202, 255, .03);
}

.cell {
  padding: 0px 5px;
}

.pill {
  margin: 1px 2px;
  background: rgba(73, 97, 108, 0.7);
  padding: 2px 4px;
  border-radius: 6px;
  color: white;
  display: inline-block;
}

.distinct-ingredients {
  margin-top: 20px;
}
