html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* Generic classes */
.border {
  border: 1px solid black;
}

.bold {
  font-weight: 600;
}

.flex {
  display: -webkit-flex;
  display: flex;
}

.flex1 {
  -webkit-flex: 1;
  flex: 1;
}
.flex2 {
  -webkit-flex: 2;
  flex: 2;
}
.flex3 {
  -webkit-flex: 3;
  flex: 3;
}
